/*Add CSS styles here*/
#mapLondon {
    margin: auto;
    height: 500px;
    width: 80%;
}
#mapDenver {
    margin: auto;
    height: 500px;
    width: 80%;
}
#mapMegacities {
    margin: auto;
    height: 500px;
    width: 80%;
}
#mapWiscTemps {
    margin: auto;
    height: 500px;
    width: 80%;
}