/*Add CSS styles here*/
#mapLondon {
    margin: auto;
    height: 500px;
    width: 95%;
}
#mapDenver {
    margin: auto;
    height: 500px;
    width: 95%;
}
#mapMegacities {
    margin: auto;
    height: 500px;
    width: 95%;
}
#mapWiscTemps {
    margin: auto;
    height: 500px;
    width: 95%;

    .leaflet-popup-content p {
        margin: 0.2em 0;
    }
}

